<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263887168535-1kig0d1ov3b9t3n5ijb74qgi8bmgne9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263887168535-1kig0d1ov3b9t3n5ijb74qgi8bmgne9b</string>
	<key>API_KEY</key>
	<string>AIzaSyBsmdh7iurGSAo6SQIugpYC2TR_wFaxZ44</string>
	<key>GCM_SENDER_ID</key>
	<string>263887168535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handsome.NoobTour</string>
	<key>PROJECT_ID</key>
	<string>noobtour-1793b</string>
	<key>STORAGE_BUCKET</key>
	<string>noobtour-1793b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263887168535:ios:ef2d4a0f9293affd</string>
	<key>DATABASE_URL</key>
	<string>https://noobtour-1793b.firebaseio.com</string>
</dict>
</plist>